body {
  background-color: #1b2838;
  color: #acb2b8;
  font-family: sans-serif;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.leftcolumn {
  color: #acb2b8;
  float: left;
  font-size: 14px;
  margin: 16px 0 0;
  padding: 0;
  width: 616px;
}

.rightcolumn {
  float: right;
  margin: 16px 0 0 14px;
  overflow: hidden;
  padding: 0;
  width: 308px;
}

h2 {
  background-image: url(https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png);
  background-position: left bottom;
  background-repeat: no-repeat no-repeat;
  color: #fff;
  font-family: "Motiva Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 26px;
  margin: 0 0 10px;
  padding: 2px 0 0;
  text-transform: uppercase;
}

#mainbodytext {
  font-family: "Motiva Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 30px 0 10px 0;
  overflow: hidden;
  padding: 0;
}

#mainbodyimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.aboutvr {
  font-family: "Motiva Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.p {
  margin: 0 0 8px;
  padding: 0;
}

.i {
  font-style: italic;
  padding: 50px;
}

li {
  list-style: outside;
  margin: 2px 0;
  padding: 0;
}

#sysmin {
  color: #bcc6cd;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0 4px 0 0;
  padding: 0;
  text-transform: uppercase;
}

#sysspec {
  color: #61686d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 4px 4px 0;
  padding: 0;
  text-transform: none;
}

.sidebaritem {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  margin: 0 0 8px;
  padding: 16px;
  min-height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.sidebaritem.custom {
  display: flex;
  align-items: center;
}

.sidebaritem.custom span:last-child {
  font-size: 18px;
  line-height: 26px;
}

#sidebaritemele {
  background-color: rgba(103, 193, 245, 0.1);
  border-radius: 1px;
  color: #67c1f5;
  display: block;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 2px;
  min-height: 17px;
  padding: 4px 0 4px 8px;
  text-decoration: none;
}

#sidebaritemele:hover {
  background-image: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
  color: #fff;
}

#sidebartitle {
  color: #8f98a0;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 0;
}

#columntitle {
  color: #b0aeac;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 62px;
}

#languagescheckmark {
  color: #67c1f5;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

th,
td {
  border-bottom: 1px dotted #8f98a0;
}

tr td:first-child {
  width: 22%;
  white-space: nowrap;
}

#achievements {
  float: left;
  height: 64px;
  margin: 0 4px 0 0;
  width: 64px;
}

#viewallachievements {
  align-items: center;
  background-color: rgba(103, 193, 245, 0.2);
  border-radius: 1px;
  color: #67c1f5;
  display: flex;
  flex-direction: row;
  float: left;
  font-family: "Motiva Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 64px;
  justify-content: center;
  line-height: 14px;
  margin: 0;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  width: 64px;
}

#viewallachievements:hover {
  background-image: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
  color: #fff;
}

#minidescriptionvalue {
  color: #67c1f5;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#minidescriptionurl {
  color: #67c1f5;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#minidescriptionurl:hover {
  color: #fff;
}

#minidescriptionlinks {
  background-color: rgba(103, 193, 245, 0.1);
  border-radius: 1px;
  color: #67c1f5;
  display: block;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 2px;
  min-height: 17px;
  padding: 4px 0 4px 8px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #67c1f5;
}

#minidescriptionlinks:hover {
  background-image: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

#minidescriptionlinks a:hover {
  color: white;
}

#metacritictext {
  color: #fff;
  float: left;
  font-family: "Motiva Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin-right: 6px;
  padding: 0;
}

#minidescriptionvalue {
  color: #8f98a0;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 3px 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 94px;
}

.tooltip-wrap {
  background: rgb(209, 225, 247);
  padding: 15px;
}

.item-img-wrap {
  max-width: 170px;
  width: 100%;
  height: 64px;
}

.item-img-wrap img,
.tooltip-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  color: #fff;
  margin: 0 2px 0 0;
  padding: 15px;
  position: relative;
}

.item:hover {
  border-color: rgba(103, 193, 245, 0.5);
  color: #66c0f4;
}

.item .content p {
  margin-bottom: 6px;
  margin-top: 0;
  font-size: 8px;
  color: #67c1f5;
}

.item .content p:first-child {
  margin-top: 6px;
  font-size: 12px;
  color: #b0aeac;
}

.tooltip-img-wrap {
  max-width: 280px;
  width: 100%;
  height: 130px;
  margin: 8px 0;
}

.tooltip-wrap p {
  margin: 0;
}

.tooltip-wrap h4 {
  margin: 0;
  color: black;
}

.c-blue {
  color: #417a9b;
}

.c-black {
  color: black;
}

.reviews {
  background-color: rgba(57, 77, 88, 0.5);
  padding: 8px;
  color: white;
}

.reviews p:first-child {
  margin-bottom: 6px;
}

.tag-flex {
  display: flex;
}

.tag-flex span {
  margin-right: 2px;
  background-color: rgba(107, 138, 155, 0.5);
  padding: 5px;
  color: white;
}

.tooltip-wrap h6 {
  margin: 6px 0;
  font-size: 16px;
  color: black;
}

.d-none {
  display: none;
}

.d-block {
  display: table-row;
}

.dotted-line {
  border: 1px dotted white;
  margin: 15px 0;
}

.show-wrap {
  display: flex;
  justify-content: flex-end;
}

.show-wrap a {
  color: #417a9b;
  margin: 15px 0;
}

.slick-slider {
  max-width: 566px;
  width: 100%;
  margin-left: 25px;
}

.content-desc {
  margin-bottom: 12px;
}
