body{
  background-color: #1B2838;
  color: #acb2b8;
  font-family: sans-serif;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.leftcolumn {
  color: #acb2b8;
  float: left;
  font-size: 14px;
  margin: 16px 0 0;
  padding: 0;
  width: 616px;
}

.rightcolumn {
  float: right;
  margin: 16px 0 0 14px;
  overflow: hidden;
  padding: 0;
  width: 308px;
}

h2 {
  background-image: url(https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png);
  background-position: left bottom;
  background-repeat: no-repeat no-repeat;
  color: #fff;
  font-family: "Motiva Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 26px;
  margin: 0 0 10px;
  padding: 2px 0 0;
  text-transform: uppercase;
}

#mainbodytext {
  font-family: "Motiva Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 30px 0 0;
  overflow: hidden;
  padding: 0;
}

#mainbodyimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.aboutvr{
  font-family: "Motiva Sans",sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.p{
  
  margin: 0 0 8px;
  padding: 0;
}

.i{
  font-style: italic;
  padding: 50px;
}

li{
  list-style: outside;
  margin: 2px 0;
  padding: 0;
}

#sysmin{
  color: #bcc6cd;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0 4px 0 0;
  padding: 0;
  text-transform: uppercase;
}

#sysspec{
  color: #61686d;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 4px 2px 0;
  padding: 0;
  text-transform: none;
}

.sidebaritem{
  background-image: linear-gradient(to right,rgba(0,0,0,.2) 0%,rgba(0,0,0,.5) 100%);
  margin: 0 0 8px;
  padding: 16px;
  min-height: 90px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 400;
}

#sidebaritemele{
  background-color: rgba(103,193,245,.1);
  border-radius: 1px;
  color: #67c1f5;
  display: block;
  font-family: "Motiva Sans",sans-serif;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 2px;
  min-height: 17px;
  padding: 4px 0 4px 8px;
  text-decoration: none;
}

#sidebaritemele:hover {
  background-image: linear-gradient(135deg,#67c1f5 0%,#417a9b 100%);
  color: #fff;
}

#sidebartitle {
  color: #8f98a0;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 0;
}

#columntitle{
  color: #b0aeac;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 62px;
}

#languagescheckmark{
  color: #67c1f5;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center
}

th, td {
  border-bottom: 1px solid  #b0aeac;
}

#achievements {
  float: left;
  height: 64px;
  margin: 0 4px 0 0;
  width: 64px;
}

#viewallachievements {
  align-items: center;
  background-color: rgba(103,193,245,.2);
  border-radius: 1px;
  color: #67c1f5;
  display: flex;
  flex-direction: row;
  float: left;
  font-family: "Motiva Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 64px;
  justify-content: center;
  line-height: 14px;
  margin: 0;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  width: 64px;
}

#viewallachievements:hover {
  background-image: linear-gradient(135deg,#67c1f5 0%,#417a9b 100%);
  color: #fff;
}

#minidescriptionvalue{
  color: #67c1f5;
  font-family: "Motiva Sans",sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#minidescriptionurl{
  color: #67c1f5;
  font-family: "Motiva Sans",sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#minidescriptionurl:hover {
  color: #fff;
}

#minidescriptionlinks {
  background-color: rgba(103,193,245,.1);
  border-radius: 1px;
  color: #67c1f5;
  display: block;
  font-family: "Motiva Sans",sans-serif;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 2px;
  min-height: 17px;
  padding: 4px 0 4px 8px;
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: #67c1f5;  
}

#minidescriptionlinks:hover {
  background-image: linear-gradient(135deg,#67c1f5 0%,#417a9b 100%);
  color: #fff;
}

#metacritictext{
  color: #fff;
  float: left;
  font-family: "Motiva Sans",sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 4px 0 0 2px;
  padding: 0;
}

#minidescriptionvalue {
  color: #8f98a0;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 3px 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 94px;
}
